<!-- this IS an AngularJS template.  This is what we see when the site loads
-->
<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>

<body>
    <div ng-controller="otherController">
        <h2>Students List</h2>


        <b>Filter Students:</b><br />
        By first name:
        <input type="text" ng-model="filterText.firstname" />
        <br />
        By last name:
        <input type="text" ng-model="filterText.lastname" />
        <br />
        By status:
        <input type="text" ng-model="filterText.status" />
        <br />
        By classification:
        <input type="text" ng-model="filterText.classification" />


        <br>

        <ul>
            <li ng-repeat="stud in students | filter:filterText:strict | orderBy: 'lastname'">
                <a href="#">{{stud.firstname}} {{stud.lastname}}</a> -- {{stud.status}} - {{stud.classification}}
            </li>
        </ul>
          
        <br><br>

      <tr>
      <td>
        <button class="btn" ng-click="editUser(user.id)">
            <a href="/">Back</a>
        </button>
      </td> 
      </tr>
     
      

    </div>
    <hr>
    <%= msg %>
        <script src="./static/js/angular.min.js"></script>
        <script src="./static/js/my_app.js"></script>
</body>

</html>