<!-- this IS an AngularJS template.  This is what we see when the site loads
-->
<!--Secia worked on this
-->
<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/studentList.css" />
    
    
   
    
</head>

<body>
    <div class="slist">
        <div ng-controller="otherController">
            <h2>Students List</h2>
    
    
            <b>Filter Students:</b><br />
            <span class="fname">By first name:</span>
            <input type="text" ng-model="filterText.firstname" />
            <br />
            By last name:
            <input type="text" ng-model="filterText.lastname" />
            <br />
            <span>By status:</span>
            <select ng-model="filterText.status">
              <option value=""></option>
              <option value="prospect">Prospect</option>
              <option value="current">Current</option>
              <option value="alumni">Alumni</option>
            </select>
            <br />
            <span class ="classification">By classification:</span>
            <select ng-model="filterText.classification">
              <option value=""></option>
              <option value="hs">High School</option>
              <option value="freshman">Freshman</option>
              <option value="Sophomore">Sophomore</option>
              <option value="Junior">Junior</option>
              <option value="Senior">Senior</option>
              <option value="Graduate">Graduate</option>
            </select>
    
            <hr>
            <br>
            
            details: <input class="box" type="checkbox" ng-model="checked"><br/>
            
            <ul>
                <li ng-repeat="stud in students | filter:filterText:strict | orderBy: 'lastname'">
                 
                    <a href="/student/{{stud.idnumber}}">{{stud.firstname}} {{stud.lastname}} </a>
                    <!--<a href="#" ng-click="setStudent(stud.idnumber)">{{stud.firstname}} {{stud.lastname}} </a>-->

                    <div>
                  <div class="check-element animate-show" ng-show="checked">
                    {{stud.status}} - {{stud.classification}}
                    <br/>
                    Phone: {{stud.phone}}
                    <br />
                    Email: {{stud.email}}
                    <br />
                    Portfolio Link: <a href="#">{{stud.portfolio}}</a>
                    <br />
                    LinkedIn: <a href="#">{{stud.linkedin}}</a>
                    <br>
                    Student Events:
                    <ul>
                        <li ng-repeat="event in stud.events">
                            {{event.name}} - {{event.type}} - {{event.description}}
                            
                            <div class ="div1">
                                <form ng-controller="FrmController">
                                    <h4>Comments</h4>
                                        <ul>
                                            <li ng-repeat="comnt in comment"> {{ comnt }} <a  style="float: right;" href="" ng-click="remItem($index)">x</a></li>
                                        </ul>
                                    
                                    <form ng-controller="FrmController">
                                        <textarea ng-model="txtcomment" placeholder="Post Comment" ></textarea>
                                        <button ng-click='btn_add();' style='margin-top:10px;'>Post Comment</button>
                                     </form> 
                            </div>
                            
                        </li>
                    </ul>
                    
                    
                   
                    
                
                    <br /><br />
                  </div>
                </div>
                <div>
                </li>
            </ul>
              
            <br><br>
    
          <tr>
          <td>
            <button class="btn" ng-click="editUser(user.id)">
                <a href="/">Back</a>
            </button>
          </td> 
          </tr>
    
        </div>
   
    <hr>
    <%= msg %>
        <script src="./static/js/angular.min.js"></script>
        <script src="./static/js/my_app.js"></script>
        <script type="text/javascript">
            function FrmController($scope) {
                $scope.comment = [];
                $scope.btn_add = function() {
                    if($scope.txtcomment !==''){
                    $scope.comment.push($scope.txtcomment);
                    $scope.txtcomment = "";
                    }
                }
 
                $scope.remItem = function($index) {
                    $scope.comment.splice($index, 1);
                }
            }
        </script>
        
    </div>   
</body>
 
</html>

<!--http://devzone.co.in/angularjs-example-simple-user-comment-box/-