
html{
    background-color: #5E0404;
    
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
}

div.form-container {
    display: inline-block;
    border: 4px ridge white;
    width: 280px;
    border-radius: 10px;
    margin: 10px;
    background: #660000;
}
p.form-header {
    margin: 0px;
    font: 24px bold;
    font-variant: small-caps;
    border-bottom: 4px ridge white;
    text-align: center;
    color: white;
}


form {
    margin: 10px;
}
label {
    width: 90px;
    display: inline-block;
    font: 18px bold;
    font-variant: small-caps;
     color: white;
}
input {
    border: 2px ridge black;
    border-radius: 3px;
    padding: 3px;
    width : 50%;
    margin-bottom: 5px;
}

button {
    width: 120px;
    margin-top: 5px;
    margin-left: 85px;
    text-decoration: none;
    border: 2px ridge black;
    border-radius: 3px;
}

button.button2 {
    width: 140px;
    margin-top: 7px;
    margin-left: 75px;
}

button, a {
    font: 18px bold;
    font-variant: small-caps;
    text-decoration: none;
     color: black;
}


input[type=submit] {
    font: 18px bold;
    font-variant: small-caps;
    width: 120px;
    margin-top: 5px;
    margin-left: 85px;
}

.login{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.index {
    margin: 20px;
}

.user{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
}
.insideuser{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}